<!doctype html>
<html lang="en" class="light-style layout-navbar-fixed layout-menu-fixed layout-compact" dir="ltr"
  data-theme="theme-default" data-assets-path="/admin/assets/" data-template="vertical-menu-template" data-style="light">

<head>
  <meta charset="utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

  <title><%= title %></title>
  <meta name="description" content="" />

  <link rel="icon" type="image/x-icon" href="/dashboard/admin/assets/img/logo/ramah-bg.png" />
  <script src="/dashboard/admin/assets/js/config.js"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="/dashboard/admin/assets/vendor/fonts/fontawesome.css" />
  <link rel="stylesheet" href="/dashboard/admin/assets/vendor/fonts/tabler-icons.css" />
  <link rel="stylesheet" href="/dashboard/admin/assets/vendor/fonts/flag-icons.css" />
  <link rel="stylesheet" href="/dashboard/admin/assets/vendor/css/rtl/core.css" />
  <link rel="stylesheet" href="/dashboard/admin/assets/vendor/css/rtl/theme-default.css" />
  <link rel="stylesheet" href="/dashboard/admin/assets/css/demo.css" />

  <link rel="stylesheet" href="/dashboard/admin/assets/vendor/libs/node-waves/node-waves.css" />

    <link rel="stylesheet" href="/dashboard/admin/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="/dashboard/admin/assets/vendor/libs/typeahead-js/typeahead.css" />
    <link rel="stylesheet" href="/dashboard/admin/assets/vendor/libs/apex-charts/apex-charts.css" />
    <link rel="stylesheet" href="/dashboard/admin/assets/vendor/datatables/dataTables.bootstrap4.min.css" />
  
  <script src="/dashboard/admin/assets/vendor/js/template-customizer.js"></script>
  <script src="/dashboard/admin/assets/vendor/js/helpers.js"></script>


  <% if (typeof css !== 'undefined') { %>
    <%- css %>
  <% } %>
</head>

<body>
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

      <%- include('sidebar') %>

      <div class="layout-page">
        <%- include('navbar') %>

        <div class="content-wrapper">
          <%- body %>
          <%- include('footer') %>
          <div class="content-backdrop fade"></div>
        </div>
      </div>
    </div>

    <div class="layout-overlay layout-menu-toggle"></div>
    <div class="drag-target"></div>
  </div>

  <script src="/dashboard/admin/assets/vendor/js/core.js"></script>
  <script src="/dashboard/admin/assets/vendor/libs/apex-charts/apexcharts.js"></script>
  <script src="/dashboard/admin/assets/js/main.js"></script>
  <script src="/dashboard/admin/assets/js/app-ecommerce-dashboard.js"></script>
  <script src="/dashboard/admin/assets/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="/dashboard/admin/assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>
  <script src="/dashboard/admin/assets/js/datatables-demo.js"></script>
  
  <% if (typeof js !== 'undefined') { %>
    <%- js %>
  <% } %>
</body>
</html>
