<% var title="Detail Portofolio" ; %>

<div class="page-content">
  <div class="container text-center mt-4">
    <% if (portofolio.image) { %>
      <img src="/<%= portofolio.image %>" class="img-fluid rounded shadow mb-4" style="max-height: 300px;" alt="<%= portofolio.title %>">
    <% } else { %>
      <p class="text-muted">Foto tidak tersedia.</p>
    <% } %>
  </div>

  <div class="content-body pt-3">
    <div class="container">
      <div class="card shadow p-4 mb-4">
        <h4 class="mb-2 text-center"><%= portofolio.category %></h4>
        <p class="text-center text-warning"><%= portofolio.title %></p>
      </div>

      <div class="card shadow p-3 mb-3">
        <h6 class="mb-1 text-muted text-center">Description</h6>
        <p class="mb-0 text-dark"><%- portofolio.description %></p>
      </div>

      <div class="card shadow p-3 mb-3">
        <h6 class="mb-1 text-muted text-center">Techstack</h6>
        <p class="mb-0 text-dark"><%- portofolio.techstack %></p>
      </div>

      <div class="card shadow p-3 mb-3">
        <h6 class="mb-1 text-muted text-center">Tanggal Portofolio Ini Dibuat</h6>
        <p class="mb-0 text-dark"><%= portofolio.createdAt %></p>
      </div>

      <div class="card shadow p-3 mb-3">
        <h6 class="mb-1 text-muted text-center">Waktu Pengerjaan Portofolio</h6>
        <p class="mb-0 text-dark"><%= new Date(portofolio.tanggal).toLocaleDateString('id-ID', { day: 'numeric', month: 'long', year: 'numeric' }) %> 
          s/d 
          <%= new Date(portofolio.end_date).toLocaleDateString('id-ID', { day: 'numeric', month: 'long', year: 'numeric' }) %></p>
      </div>

      <div class="text-center mb-3">
        <a href="/portofolio" class="btn btn-secondary me-2">← Kembali</a>
      </div>
    </div>
  </div>
</div>
